<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
  <link href="https://cdn.datatables.net/v/se/dt-2.1.8/b-3.1.2/b-colvis-3.1.2/datatables.min.css" rel="stylesheet">
  <script src="https://cdn.datatables.net/v/se/dt-2.1.8/b-3.1.2/b-colvis-3.1.2/datatables.min.js"></script>
  <script>
  function initSse(uuid) {
    const feedEventSource = new EventSource(`/feed/sse${uuid === undefined ? '' : '/' + uuid}`);
    {% if request.url_rule.endpoint in ["feed", "history"] %}
    const toastMessage = "Refresh page to display new capture data?";
    const onClick = () => window.location.reload();
    {% else %}
    const toastMessage = "Open feed page to display new capture data?";
    const onClick = () => window.location = "{{ url_for('feed') }}";
    {% endif %};
    feedEventSource.onmessage = (event) => {
      console.log(event.data, event.event)
      $.toast({
        title: "New capture",
        message: toastMessage,
        displayTime: 0,
        actions: [{
          text: "Yes",
          icon: "check",
          class: "green",
          click: onClick
        }, {
          icon: "ban",
          class: "icon red"
        }]
      });
    };
    return feedEventSource;
  }
  </script>
</head>
<body>
  <div class="ui menu">
  {% for (endpoint, text, other_endpoints) in _nav %}
    <a class="item {% if request.url_rule.endpoint in [endpoint] + other_endpoints %}active{% endif %}" href="{{ url_for(endpoint) }}">
      {{ text }}
    </a>
  {% endfor %}
    <div class="right menu">
      <div class="item">
        <button class="ui toggle {% if _capture_task_active %}active{% endif %} labeled icon button" id="capture-loop-toggle">
          <i class="cog {% if _capture_task_active %}active{% endif %} icon"></i>
          <span>Capture Loop </span>
          {% set text_on = "On" %}
          {% set text_off = "Off" %}
          <span id="capture-loop-toggle-text" data-on="{{ text_on }}" data-off="{{ text_off }}">{% if _capture_task_active %}{{ text_on }}{% else %}{{ text_off }}{% endif %}</span>
        </button>
      </div>
    </div>
  </div>
  <div class="ui container">
    {% block content %}{% endblock %}
  </div>
  {% block script %}{% endblock %}
  <script>
  $("#capture-loop-toggle")
    .data("active", {% if _capture_task_active %}true{% else %}false{% endif %})
    .on("click", function() {
      const text = $(this).children("#capture-loop-toggle-text");
      if ($(this).data("active")) {
        $(this)
          .data("active", false)
          .removeClass("active");
        $(this)
          .children("i")
          .removeClass("active");
        text
          .text(text.data("off"));
        $.ajax({
          url: "{{ url_for('capture_loop_off') }}",
          method: "PUT"
        });
      } else {
        $(this)
          .data("active", true)
          .addClass("active");
        $(this)
          .children("i")
          .addClass("active");
        text
          .text(text.data("on"));
        $.ajax({
          url: "{{ url_for('capture_loop_on') }}",
          method: "PUT"
        });
      }
    });
  </script>
</body>
</html>
