{% extends 'base.html' %}

{% block title %}Feed{% endblock %}

{% block content %}
<div class="capture ui piled segment">
  {% include 'capture.html' %}
</div>
{% endblock %}

{% block script %}
<script>
$(".annotations-checkbox").checkbox({
  onChecked: function() {
    const img = $(this).closest(".capture").find(".annotations-img");
    img.attr("src", img.attr("data-src") + "?annotated");
  },
  onUnchecked: function() {
    const img = $(this).closest(".capture").find(".annotations-img");
    img.attr("src", img.attr("data-src"));
  }
});

const feedEventSource = new EventSource("/feed/sse");
feedEventSource.onmessage = (event) => {
  $.toast({
    title: "New capture",
    message: "Refresh page to display new capture data?",
    displayTime: 0,
    actions: [{
      text: "Yes",
      icon: "check",
      class: "green",
      click: () => {
        window.location.reload();
      }
    }, {
      icon: "ban",
      class: "icon red"
    }]
  });
};
</script>
{% endblock %}
