{% extends 'base.html' %}

{% block title %}Feed{% endblock %}

{% block content %}
<div class="capture ui piled segment">
  {% include 'capture.html' %}
</div>
{% endblock %}

{% block script %}
<script>
$(".annotations-checkbox").checkbox({
  onChecked: function() {
    const img = $(this).closest(".capture").find(".annotations-img");
    img.attr("src", img.data("src") + "?annotated");
  },
  onUnchecked: function() {
    const img = $(this).closest(".capture").find(".annotations-img");
    img.attr("src", img.data("src"));
  }
});

initSse();
</script>
{% endblock %}
