{% extends 'base.html' %}

{% block title %}History{% endblock %}

{% block content %}
<div class="ui styled fluid accordion">
  {% for capture in captures %}
  <div class="title {% if loop.first %}active{% endif %}" style="position: relative">
    <i class="dropdown icon"></i>
    <div class="ui {{ capture.created_by.label_type }} horizontal label">
      <i class="{{ capture.created_by.label_class }} icon"></i> {{ capture.created_by.title }}
    </div>
    {{ capture.timestamp }}
  </div>
  <div class="content {% if loop.first %}active{% endif %} capture">
    {% set skip_timestamp = True %}
    {% set skip_created_by = True %}
    {% include 'capture.html' %}
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block script %}
<script>
$(".ui.accordion").accordion();

$(".annotations-checkbox").checkbox({
  onChecked: function() {
    const img = $(this).closest(".capture").find(".annotations-img");
    img.attr("src", img.data("src") + "?annotated");
  },
  onUnchecked: function() {
    const img = $(this).closest(".capture").find(".annotations-img");
    img.attr("src", img.data("src"));
  }
});

initSse();
</script>
{% endblock %}
