{% extends 'base.html' %}

{% block title %}History{% endblock %}

{% block content %}
<div class="ui styled fluid accordion">
  {% for objects, run, model, timestamp in captures %}
  <div class="title {% if loop.first %}active{% endif %}">
    <i class="dropdown icon"></i>
    {{ timestamp }}
  </div>
  <div class="content {% if loop.first %}active{% endif %}">
    {% set timestamp = None %}
    {% include 'capture.html' %}
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block script %}
<script>
$(".ui.accordion").accordion();

$(".annotations-checkbox").checkbox({
  onChecked: function() {
    const img = $(this).closest(".capture").find(".annotations-img");
    img.attr("src", img.attr("data-src") + "?annotated");
  },
  onUnchecked: function() {
    const img = $(this).closest(".capture").find(".annotations-img");
    img.attr("src", img.attr("data-src"));
  }
});

const feedEventSource = new EventSource("/feed/sse");
feedEventSource.onmessage = (event) => {
  $.toast({
    title: "New capture",
    message: "Refresh page to display new capture data?",
    displayTime: 0,
    actions: [{
      text: "Yes",
      icon: "check",
      class: "green",
      click: () => {
        window.location.reload();
      }
    }, {
      icon: "ban",
      class: "icon red"
    }]
  });
};
</script>
{% endblock %}
