{% extends 'base.html' %}

{% block title %}Stock Levels{% endblock %}

{% block content %}
<div class="ui segment">
  <h2 class="ui header">
    <i class="list icon"></i>
    <div class="content">
      {{ total }}
      <div class="sub header">items</div>
    </div>
  </h2>
</div>
<div class="ui top attached tabular menu">
  <a class="active item" data-tab="inventory">Inventory</a>
  <a class="item" data-tab="order">Order Stock</a>
</div>
<div class="ui bottom attached active tab segment" data-tab="inventory" id="inventory">
  <div class="ui secondary menu">
    <!-- <div class="item"> -->
      <!-- <div class="ui category search"> -->
        <!-- <div class="ui icon input"> -->
          <!-- <input class="prompt" type="text" placeholder="Search inventory"> -->
          <!-- <i class="search icon"></i> -->
        <!-- </div> -->
        <!-- <div class="results"></div> -->
      <!-- </div> -->
    <!-- </div> -->
    <div class="right menu">
      <div class="item">
        <button class="ui labeled icon button">
          <i class="filter icon"></i>
          Filters
        </button>
      </div>
      <div class="item">
        <button class="ui labeled icon button">
          <i class="sort icon"></i>
          Sort
        </button>
      </div>
    </div>
  </div>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Categories</th>
        <th>Amount</th>
      </tr>
    </thead>
  </table>
</div>
{% endblock %}

{% block script %}
<script>
const queryItems = {{ query_items | tojson }};
const inventoryTable = $('#inventory table').DataTable({
  ajax: {
    url: "{{ url_for('stock_search') }}",
    dataSrc: ""
  },
  columns: [
    { data: "title", name: "title" },
    {
      data: "categories",
      name: "categories",
      render: (data) => data.join(", ")
    },
    { data: "amount", name: "amount" }
  ],
  layout: {
    topStart: {
      buttons: [
        "colvis",
        {
          extend: "collection",
          name: "category-filters",
          className: "ui labeled icon button",
          text: "<i class='filter icon'></i>Filter",
          buttons: []
        }
      ]
    },
  }
});
const categoryFiltersButton = inventoryTable.buttons("category-filters:name");
const categoryColumn = inventoryTable.column("categories:name");
inventoryTable.on("draw", () => {
  const data = categoryColumn.data().flatten();
  console.log("data", data)
  categoryFiltersButton.collectionRebuild(data.unique().map((cat) => {
    return {
      text: cat,
      action: (e, dt, node) => {
        if (node.active()) {
          // filtering, all categories?
        }
        console.log("action", ele);
      }
    }
  }));
});
$('.ui.search')
  .search({
    source: queryItems,
    onResults: ({results}) => {
      console.log('res', results)
      if (results !== undefined) {
        const results = results.map((res) => res.title);
        inventoryTable.search(results.join(",")).draw();
        const uniqueCategories = $.uniqueSort(results);
        categoryFiltersButton.collectionRebuild(uniqueCategories.map((cat) => {
          return {
            text: cat,
            action: (ele) => {
              console.log("action", ele);
            }
          }
        }));
      }
    }
  });
</script>
{% endblock %}
