{% extends 'base.html' %}

{% block title %}Stock Levels{% endblock %}

{% block content %}
<div class="ui segment">
  <h2 class="ui header">
    <i class="list icon"></i>
    <div class="content">
      {{ total }}
      <div class="sub header">items</div>
    </div>
  </h2>
</div>
<div class="ui top attached tabular menu">
  <a class="active item" data-tab="inventory">Inventory</a>
  <a class="item" data-tab="order">Order Stock</a>
</div>
<div class="ui bottom attached active tab segment" data-tab="inventory" id="inventory">
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Amount</th>
        <th>Categories</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
        <td>{{ row["title"] }}</td>
        <td>{{ row["amount"] }}</td>
        <td>{{ ", ".join(row["categories"]) }}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block script %}
<script>
const categories = {{ categories | tojson  }};
const inventoryTable = $('#inventory table').DataTable({
  columns: [
    { data: 0, name: "title" },
    { data: 1, name: "amount" },
    { data: 2, name: "categories" },
  ],
  layout: {
    topStart: {
      buttons: [
        "colvis",
        {
          extend: "collection",
          name: "category-filters",
          className: "ui labeled icon button",
          text: "<i class='filter icon'></i>Filter",
          buttons: categories.map((cat) => {
            return {
              text: cat,
              action: function (e, dt, node) {
                if (this.active()) {
                  // disable
                  categoryColumn.search.fixed(cat, null);
                  this.active(false);
                } else {
                  // enable
                  categoryColumn.search.fixed(cat, cat);
                  this.active(true);
                }
                categoryColumn.draw();
              }
            }
          })
        }
      ]
    },
  }
});
const categoryFiltersButton = inventoryTable.buttons("category-filters:name");
const categoryColumn = inventoryTable.column("categories:name");
</script>
{% endblock %}
