<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
</head>
<body>
  <div class="ui secondary menu">
    <a class="item {% if request.url_rule.endpoint == 'feed' %}active{% endif %}" href="{{ url_for('feed') }}">
      Feed
    </a>
    <a class="item {% if request.url_rule.endpoint == 'history' %}active{% endif %}" href="{{ url_for('history') }}">
      History
    </a>
  </div>
  <div class="ui container">
    {% block content %}{% endblock %}
  </div>
  {% block script %}{% endblock %}
</body>
</html>
